@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cinzel+Decorative:wght@700&family=Press+Start+2P&family=Silkscreen&family=Sonsie+One&display=swap');

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  box-sizing: border-box;
  font-family: 'Silkscreen', cursive;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
p {
  margin: 5px 0;
}

#root {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.containerCustom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 300px;
}

@media (min-width: 768px) {
  .containerCustom {
    width: 700px;
  }
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}