.mainBlock {
    background: #fff;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);

    /* font-family: Calibri, sans-serif; */
    /* font-family: 'Silkscreen', cursive; */
    font-size: 1rem;
    font-weight: 700;
    text-align: center;

    margin: 5px 0;

    padding: 0.5em 1em;
    overflow-wrap: break-word;
    width: 300px;
    min-height: 40px;
    height: max-content;
    /* animation: 0.5s fadein; */
}

@media (min-width: 768px) {
    .mainBlock {
        width: 600px;
        min-height: 64px;
    }
}